<div class="playlists-page">
    <div class="playlists-page__title">Плейлисты</div>
    <div class="playlists-page__wrapper">
        <div class="item-add">
            <form class="playlist-add-form">
                <input class="playlist-add-form__input" type="text" name="title" placeholder="Добавить новый плейлист" autocomplete="off">
                <label for="playlist-submit">
                    <i class="fas fa-check-circle playlist-add-form__icon"></i>
                </label>
                <input class="playlist-add-form__submit" type="submit" id="playlist-submit">
            </form>
        </div>
        <div class="playlists-page__playlists">
            {{{ playlistTemp }}}
        </div>
    </div>
</div>
