{{#each playlists }}
<a href="/playlist/{{ attrs.id }}" class="playlist">
    <img src="{{ attrs.poster }}" class="playlist__poster">
    <div class="playlist__wrapper">
        <div class="playlist__title">{{ attrs.title }}</div>
    </div>
</a>
{{/each}}
