<div class='mobile-player'>
    <div class="mobile-player__toggle">
        <div class="mobile-player__wrapper">
            <div class="mobile-player__info">
                <img class='mobile-player__poster'>
                <div class="mobile-player__group">
                    <div class="mobile-player__title"></div>
                    <div class="mobile-player__artist"></div>
                </div>
            </div>
            <i class="mobile-player__play fas fa-play play-js" data-status="off"></i>
        </div>
        <div class="mobile-player__time-line">
            <div class="mobile-player__progress-bar"></div>
        </div>
    </div>
    <div class="mobile-player__wrapper_column">
        <div class="mobile-player__header">
            <i class="mobile-player__icon fas fa-chevron-down" id="close-toggle"></i>
            <div class="mobile-player__help-text">Сейчас играет</div>
            <i class="mobile-player__icon mobile-player__toggle-order fas fa-list"></i>
        </div>
        <div class="mobile-player__content">
            <img class="mobile-player__poster mobile-player__poster_large">
            <div class="mobile-player__time-line mobile-player__time-line_large">
                <div class="mobile-player__progress-bar mobile-player__progress-bar_large"></div>
            </div>
            <div class="mobile-player__group mobile-player__group_center">
                <div class="mobile-player__title mobile-player__title_large"></div>
                <div class="mobile-player__artist mobile-player__artist_large"></div>
            </div>
            <div class="mobile-player__wrapper mobile-player__wrapper_controls">
                <i class="mobile-player-controls__icon mobile-player-controls__icon_sub fas fa-undo-alt" id="repeat-button-js"></i>
                <i class="mobile-player-controls__icon fas fa-backward" id="backward"></i>
                <i class="mobile-player-controls__icon mobile-player-controls__icon_play play-js fas fa-play" id="play" data-status="off"></i>
                <i class="mobile-player-controls__icon fas fa-forward" id="forward"></i>
            </div>
        </div>
    </div>
</div>
