{{{ header }}}
<div class="content">
    <div class="content__wrap">
        <div class="content__title">Чтобы продолжить, войтите в MusicExpress</div>
        <form action="#" class="login-form">
            <div class="content-form__errors form-errors"></div>
            <input class="default-input" type="text" name="login" placeholder="Имя пользователя">
            <input class="default-input" type="password" name="password" placeholder="Пароль">
            <div class="login-form__buttons">
                <input type="submit" class="primary-button" value="Войти">
                <a href="#" class="login-form__link">Забыли пароль?</a>
            </div>
        </form>
        <div class="content-wrap-line"></div>
        <div class="sign-up-section">
            <div class="sign-up-section__title">Нет аккаунта?</div>
            <a class="secondary-button link-btn" data-url="/signup/">Зарегистрироваться</a>
        </div>
    </div>
</div>
{{{ footer }}}
