<div class="login-page" style="background-image: url({{ img }})">
    <div class="login-page__wrapper">
        <div class="login-page__content">
            <div class="login-page__mobile-wrapper">
                <a href="/" class="login-page__logo">
                <i class="fas fa-compact-disc login-page__logo-icon"></i>MusicExpress
            </a>
                <div class="login-page__title">Вход</div>
            </div>
            <div class="login-page__mobile-wrapper">
            <div class="login-page__errors"></div>
                <form class="form-login">
                <input class="form-login__input" type="email" name="login" placeholder="Почта">
                <input class="form-login__input" type="password" name="password" placeholder="Пароль">
                <div class="form-login__wrapper">
                    <div class="form-login__change-password">Забыли пароль?</div>
                    <input class="form-login__submit button-primary" type="submit" value="Войти">
                </div>
            </form>
                </form>
            </div>
        </div>
    </div>
    <div class="login-page__helper">
        Нет аккаунта?
        <a href="/signup/" class="login-page__link button-secondary">Зарегистрироваться</a>
    </div>
</div>
