<div class="header">
    <div class="header__links">
        <i class="header__link fas fa-long-arrow-alt-left"></i>
        <i class="header__link fas fa-long-arrow-alt-right"></i>
    </div>
    <form action="#" class="header__search">
        <i class="header__search-icon fas fa-search"></i>
        <input type="text" class="header__search-input" placeholder="Поиск...">
    </form>
    <div class="header__profile">
        {{# if load }}
            <i class="header__icon fas fa-cog"></i>
            {{# if isAvatar }}
                <a class="header__avatar-link" href="/profile/"><img class="header__profile-avatar" src="{{ avatar }}"></a>
            {{else}}
                <a class="header__avatar-link" href="/profile/"><img class="header__profile-avatar" src="{{ defaultAvatar.default }}"></a>
            {{/if}}
        {{else}}
            <a href="/signup/" class="button-secondary header__profile__link">Зарегистрироваться</a>
            <a href="/login/" class="button-primary header__profile__link">Войти</a>
        {{/if}}
    </div>
</div>
