<div class="sub-menu">
    <div class="sub-menu__links">
        <img class="sub-menu__link" src="../../assets/icons/chevron-left-solid.svg">
        <img class="sub-menu__link" src="../../assets/icons/chevron-right-solid.svg">
    </div>
    <form action="#" class="sub-menu__search">
        <input type="search" class="sub-menu__search-input" placeholder="Поиск...">
        <img class="sub-menu__search-icon" src="../../assets/icons/search-solid.svg">
    </form>
    <div class="sub-menu__profile">
        {{# if load }}
            <div class="sub-menu__profile-nickname link-btn" data-url="/profile/" >{{ username }}</div>
            {{# if isAvatar }}
                <img class="sub-menu__profile-avatar" src="http://musicexpress.sarafa2n.ru:8080{{ avatar }}">
            {{else}}
                <img class="sub-menu__profile-avatar" src="../../assets/icons/user-circle-solid.svg">
            {{/if}}
        {{else}}
            <div class="primary-header-button link-btn" data-url="/login/">Войти</div>
            <div class="secondary-header-button link-btn" data-url="/signup/">Зарегистрироваться</div>
        {{/if}}
    </div>
</div>
