.sub-menu {
    display: flex;
    align-items: center;

    padding: 10px 20px;

    border-radius: 25px;
    background-color: white;
}

.sub-menu__profile {
    display: flex;
    align-items: center;

    margin-left: auto;
}

.sub-menu__profile-nickname {
    font-size: 16px;
    margin: 0 10px;

}

.sub-menu__profile-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.sub-menu__links {
    display: flex;
}

.sub-menu__search {
    display: flex;
    align-items: center;

    margin: 0 20px;
}

.sub-menu__search-icon {
    height: 15px;

    padding: 5px;

    border-radius: 0 10px 10px 0;
    border: 2px solid var(--gray-2);

    cursor: pointer;
}

.sub-menu__search-input {
    padding: 5px 10px;

    border-radius: 10px 0 0 10px;
    border: 2px solid var(--gray-2);
}

.sub-menu__search-input:focus,
.sub-menu__search-input:focus + .sub-menu__search-icon {
    outline: 0;
    border-color: var(--secondary-color);
}

.sub-menu__link {
    height: 20px;

    margin: 0 5px;

    cursor: pointer;
}
