<div class="header">
    <div class="header__links">
        <i class="header__link fas fa-long-arrow-alt-left"></i>
        <i class="header__link fas fa-long-arrow-alt-right"></i>
    </div>
    <form action="#" class="header__search">
        <i class="header__search-icon fas fa-search"></i>
        <input type="text" class="header__search-input" placeholder="Поиск...">
    </form>
    <div class="header__profile">
        {{# if load }}
            <i class="header__icon fas fa-cog"></i>
            {{# if isAvatar }}
                <img class="header__profile-avatar link-btn" data-url="/profile/" src="http://musicexpress.sarafa2n.ru:8080{{ avatar }}">
            {{else}}
                <img class="header__profile-avatar link-btn" data-url="/profile/" src="../../assets/default/user-default.svg">
            {{/if}}
        {{else}}
            <div class="button-secondary header__profile__link link-btn" data-url="/signup/">Зарегистрироваться</div>
            <div class="button-primary header__profile__link link-btn" data-url="/login/">Войти</div>
        {{/if}}
    </div>
</div>
