<div class="sub-menu">
    <div class="sub-menu__links">
        <img class="sub-menu__link" src="../assets/icons/chevron-left-solid.svg">
        <img class="sub-menu__link" src="../assets/icons/chevron-right-solid.svg">
    </div>
    <form action="#" class="sub-menu__search">
        <input type="search" class="sub-menu__search-input" placeholder="Поиск...">
        <img class="sub-menu__search-icon" src="../assets/icons/search-solid.svg">
    </form>
    <div class="sub-menu__profile">
        <div class="sub-menu__profile-nickname">Alex</div>
        <img class="sub-menu__profile-avatar" src="../assets/icons/user-circle-solid.svg">
    </div>
</div>
