<div class="index-slider">
    <div class="index-slider__track">
        <div class="index-slider__item index-slider__item_left" style="background-image: url('../assets/backgrounds/banner-natural-2.jpg')"></div>
        <div class="index-slider__item index-slider__item_current" style="background-image: url('../assets/backgrounds/banner-origins.jpg')">
            <div class="index-slider__item__information">
                <div class="index-slider__information__group">imagine dragons</div>
                <div class="index-slider__information__album">origins</div>
                <div class="index-slider__information__buttons">
                    <div class='primary-button'>Слушать</div>
                    <div class='secondary-button'>Подписаться</div>
                </div>
            </div>
        </div>
        <div class="index-slider__item index-slider__item_right" style="background-image: url('../assets/backgrounds/banner-natural.jpg')"></div>
    </div>
</div>
<div class="index-content">
    <div class="index-content__wrapper">
        <div class="content__item">
            <div class="content__item__title">Популярные треки</div>
            <div class="content__item__wrapper" data-tracks="true">
                {{{ tracks }}}
            </div>
        </div>
        <div class="content__item">
            <div class="content__item__title">Музыка по настроению</div>
            <div class="content__item__wrapper">
                {{{ slider }}}
            </div>
        </div>
        <div class="content__item">
            <div class="content__item__title">Альбомы</div>
            <div class="content__item__wrapper">
                <div class="album-list">
                    <div class="album-item">
                        <img class="album-item__img" src="../assets/backgrounds/apocalyptica-cult-album.jpeg">
                        <div class="album-item__information">
                            <div class="album-item__title">Cult</div>
                            <div class="album-item__group">Apocalyptica</div>
                        </div>
                    </div>
                </div>
                <div class="album-list">
                    <div class="album-item">
                        <img class="album-item__img" src="../assets/backgrounds/apocalyptica-metalica-cover-album.jpg">
                        <div class="album-item__information">
                            <div class="album-item__title">Plays Metallica by Four Cellos</div>
                            <div class="album-item__group">Apocalyptica</div>
                        </div>
                    </div>
                </div>
                <div class="album-list">
                    <div class="album-item">
                        <img class="album-item__img" src="../assets/backgrounds/nirvana-nevermind-album.jpg">
                        <div class="album-item__information">
                            <div class="album-item__title">Nevermind</div>
                            <div class="album-item__group">Nirvana</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
