<div class="layout__header">
    <div class="layout__header-title"><span class="title_active">Music</span>Express</div>
    <div class="group-links">
        <div class="group-links__link_active link-btn" data-url="/">Главная</div>
        <div class="group-links__link">Категории</div>
        <div class="group-links__link">Исполнители</div>
    </div>
    <div class="group-links">
        <div class="group-links_title">Моя медиатека</div>
        <div class="group-links__link">Недавно прослушано</div>
        <div class="group-links__link">Любимые треки</div>
        <div class="group-links__link">Альбомы</div>
        <div class="group-links__link">Плейлисты</div>
        <div class="group-links__link">Подписки</div>
    </div>
</div>
