<div class="search-page-placeholder">
    <img src="{{ placeholder }}" class="search-page-placeholder__img">
    <div class="search-page-placeholder__title">По вашему запросу ничего не найдено.</div>
</div>
