<div class="search-page">
    <div class="search-page__wrapper">
        <div class="search-page__header">
            <div class="page__title">
                Поиск
            </div>
            <form class="header__search">
                <i class="header__search-icon fas fa-search"></i>
                <input type="text" class="header__search-input" placeholder="Поиск...">
            </form>
        </div>
        <div class="search-page-section">
            <div class="search-page-section__wrapper_tracks">
            </div>
        </div>
        <div class="search-page-section">
            <div class="search-page-section__wrapper_albums">
            </div>
        </div>
        <div class="search-page-section">
            <div class="search-page-section__wrapper_artists">
            </div>
        </div>
        <div class="search-page-section">
            <div class="search-page-section__wrapper_placeholder">
            </div>
        </div>
    </div>
</div>
