{{{ header }}}
<div class="content">
    <div class="content__wrapper">
        <div class="content__title">Зарегистрируйтесь и слушайте<br>бесплатно</div>
        <form action="#" class="content-form">
            <div class="content-form-item">
                <div class="form-input__label">Ваш адрес электронной почты</div>
                <input class="default-input" type="text" name="mail" placeholder="Введите адрес эл. почты">
            </div>
            <div class="content-form-item">
                <div class="form-input__label">Ваше имя</div>
                <input class="default-input" type="text" name="login" placeholder="Укажите Ваше имя. Например John">
            </div>
            <div class="content-form-item">
                <div class="form-input__label">Придумайте пароль</div>
                <input class="default-input" type="text" name="login" placeholder="Введите пароль">
                <input class="default-input" type="text" name="login" placeholder="Повторите пароль">
            </div>
            <div class="content-form-item">
                <input type="submit" class="primary-button content-form-item__submit" value="Зарегистрироваться">
            </div>
        </form>
        <div class="content-wrap-line"></div>
        <div class="login-section">
            <div class="login-section__title">Есть аккаунт?
                <a href="#" class="login-form__link">Войти</a>
            </div>
        </div>
    </div>
</div>
{{{ footer }}}
