<div class="signup-page" style="background-image: url({{ img.default }})">
    <div class="signup-page__wrapper">
        <div class="signup-page__content">
            <div class="signup-page__mobile-wrapper">
                <a href="/" class="signup-page__logo">
                    <i class="fas fa-compact-disc signup-page__logo-icon"></i>MusicExpress
                </a>
                <div class="signup-page__title">Зарегистрируйтесь<br /> и слушайте
                    бесплатно</div>
            </div>
            <div class="signup-page__mobile-wrapper">
                <div class="signup-page__errors"></div>
                <form class="form-signup" method="POST">
                    <input class="form-signup__input" type="text" name="email" placeholder="Введите адрес эл. почты">
                    <div class="email-error"></div>
                    <input class="form-signup__input" type="text" name="username" placeholder="Укажите Ваше имя. Например John">
                    <div class="username-error"></div>
                    <input class="form-signup__input" type="password" name="password1" placeholder="Пароль">
                    <input class="form-signup__input" type="password" name="password2" placeholder="Повторите пароль">
                    <div class="password-error"></div>
                    <input class="form-signup__submit button-primary" type="submit" value="Зарегистрироваться">
                </form>
                </form>
            </div>
        </div>
    </div>
    <div class="signup-page__helper">
        Есть аккаунт?
        <a href="/login/" class="signup-page__link button-secondary">Войти</a>
    </div>
</div>
