<div class="radio-page">
    <div class="radio-page__wrapper">
        <div class="playlists-page-placeholder">
            <img src="{{ placeholder }}" class="playlists-page-placeholder__img">
            <div class="playlists-page-placeholder__title">Данный раздел появится в недалеком будущем!</div>
        </div>
    </div>
</div>
