@import '../../pallete';

.track-item {
  display: flex;
  align-items: center;

  margin: 5px 10px 5px 0;
  padding: 10px;

  border-bottom: 1px solid $color-gray-1;

  cursor: pointer;
  transition: ease-in-out all 0.3s;

  &_active,
  &:hover {
    border-radius: 5px;
    border-color: $color-black-1;

    background-color: $color-black-1;
  }

  &:last-child {
    border: 0;
  }

  &__index {
    width: 25px;
  }

  &__index,
  &__duration,
  &__icon {
    margin: 0 5px;
    color: $color-gray;
  }

  &__duration {
    margin-left: auto;
  }

  &__title {
    color: $color-white;
    font-family: $font-medium;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__group {
    font-family: $font-regular;
    font-size: 14px;
    color: $color-gray;

    &:hover {
      text-decoration: underline;
    }
  }

  &__album {
    height: 50px;
    width: 50px;

    margin: 0 10px;

    background-color: $color-gray;
    border-radius: 5px;
  }

}
