@import "../../pallete";

html {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  width: 100%;
  height: 100%;

  margin: 0;

  background-color: $color-black-2;

  font-family: $font-regular;

  overscroll-behavior-y: none;
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.toasts {
  position: fixed;
  top: 100px;
  right: 30px;

  width: 180px;

  z-index: 101;
}

@media only screen and (max-width: 1000px) {
  #app {
    min-height: 100vh;
  }
}
