@import '../../pallete';

.button-primary,
.button-secondary {
  display: flex;
  align-items: center;

  padding: 10px 15px;

  width: fit-content;

  border-radius: 5px;
  border: 0;
  outline: 0;

  color: $color-white;
  background-color: $color-primary;

  cursor: pointer;
  user-select: none;
}

.button-secondary {
  border: 2px solid $color-primary;

  background-color: inherit;
}

@media only screen and (max-width: 1000px) {
  .button-primary,
  .button-secondary {
    padding: 5px 10px;

    font-size: 14px;
  }

}
