@import '../../pallete';

.button-primary,
.button-secondary {
  display: flex;
  align-items: center;

  padding: 10px 15px;

  width: fit-content;

  border-radius: 5px;
  border: 0;
  outline: 0;

  color: white;
  background-color: $color-primary;

  cursor: pointer;
  user-select: none;
}

.button-disabled {
  background-color: var(--color-black-1);
  color: var(--color-white);
  cursor: initial;
}

.button-secondary {
  border: 2px solid $color-primary;

  color: var(--color-white);
  background-color: inherit;
}

.controls-disabled {
  color: var(--color-gray-2);
  cursor: initial;
}

.switch-button {
  display: flex;
  align-items: center;

  &__label {
    margin-right: 10px;

    color: var(--color-white);
  }

  &__input {
    position: relative;

    display: inline-block;

    width: 50px;
    height: 25px;

    margin: 0;

    vertical-align: top;

    border: 1px solid var(--color-gray-1);
    border-radius: 30px;

    outline: none;
    cursor: pointer;

    background: var(--color-black-1);

    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::after {
      content: "";

      display: inline-block;
      position: absolute;
      left: 3px;
      top: 1.5px;

      width: 20px;
      height: 20px;
      background-color: $color-primary;
      border-radius: 50%;

      transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
      transform: translateX(0);
    }

    &:checked::after {
      transform: translateX(calc(100% + 3px));
      background-color: var(--color-white);
    }

    &:checked {
      background-color: $color-primary;
    }
  }

}

@media only screen and (max-width: 1000px) {
  .button-primary,
  .button-secondary {
    padding: 5px 10px;

    font-size: 14px;
  }

}
