@import "pallete.css";

@font-face {
    font-family: Montserrat;
    src: url("../ttf/montserrat.ttf");
}

html {
    height: 100%;
}

body {
    height: 100%;

    margin: 0;

    background-color: var(--gray-2);

    font-family: "Montserrat", Arial, sans-serif;

    overscroll-behavior-y: none;
}

#app {
    position: relative;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 25px 0;
    margin-top: auto;
    background-color: var(--black-1);
}

.footer__title {
    font-size: 18px;
    color: white;
}

.primary-button,
.secondary-button {
    width: fit-content;
    padding: 10px 15px;
    background-color: var(--primary-color);

    border: 0;
    border-radius: 25px;

    color: white;
    font-size: 18px;
    text-decoration: none;

    cursor: pointer;
    transition: ease-out opacity 0.3s;
}

.primary-button:hover,
.secondary-button:hover {
    opacity: 0.8;
}

.secondary-button {
    background-color: var(--secondary-color);
}

.default-input {
    width: 320px;
    padding: 10px 15px;
    margin: 5px 0;

    border: 1px solid var(--gray-1);
    border-radius: 5px;
    outline: 0;

    font-size: 14px;
}

.default-input::-webkit-input-placeholder {
    color: var(--gray-1);
}

.layout__sidebars {
    position: relative;

    display: flex;

    margin-bottom: 80px;
}

.layout__turntable {
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 80px;

    z-index: 100;
    background-color: white;
}

.layout__right-sidebar {
    width: 100%;
    margin-left: 240px;

    padding: 20px 40px 0;
}

.sub-menu {
    display: flex;
    align-items: center;

    padding: 10px 20px;

    border-radius: 25px;
    background-color: white;
}

.sub-menu__profile {
    display: flex;
    align-items: center;

    margin-left: auto;
}

.sub-menu__profile-nickname {
    font-size: 16px;
    margin: 0 10px;

}

.sub-menu__profile-avatar {
    height: 40px;
}

.sub-menu__links {
    display: flex;
}

.sub-menu__search {
    display: flex;
    align-items: center;

    margin: 0 20px;
}

.sub-menu__search-icon {
    height: 15px;

    padding: 5px;

    border-radius: 0 10px 10px 0;
    border: 2px solid var(--gray-2);

    cursor: pointer;
}

.sub-menu__search-input {
    padding: 5px 10px;

    border-radius: 10px 0 0 10px;
    border: 2px solid var(--gray-2);
}

.sub-menu__search-input:focus,
.sub-menu__search-input:focus + .sub-menu__search-icon {
    outline: 0;
    border-color: var(--secondary-color);
}

.sub-menu__link {
    height: 20px;

    margin: 0 5px;

    cursor: pointer;
}

.turntable__time-line {
    position: relative;

    display: flex;
    align-items: center;

    height: 8px;
    width: 100%;

    cursor: pointer;
    background-color: var(--gray-3);

    transition: all 1s linear;
}

.turntable__progress-bar {
    position: absolute;
    top: 0;
    left: 0;

    height: 8px;
    width: 0;

    cursor: pointer;

    background-color: var(--primary-color);

    transition: ease-in-out transform 0.3s;
}

.turntable__progress-bar:hover {
    transform: scaleY(1.3);
}

.turntable__content {
    display: flex;
    align-items: center;

    height: 70px;

    padding: 0 15px;
}

.song-controls {
    display: flex;
    margin: 10px 15px;
}

.song-controls:last-child {
    margin-left: auto;
}

.song-control__icon {
    height: 25px;
    margin: 0 5px;

    filter: invert(.8);
    cursor: pointer;
}

.song-control__icon:hover {
    filter: invert(0);
}

.song-info {
    display: flex;
    align-items: center;

    margin: 0 10px;
}

.song__avatar {
    width: 50px;
    height: 50px;

    margin: 0 10px;

    border-radius: 5px;
    background-color: var(--gray-2);
}

.song__content {
    display: flex;
    flex-direction: column;

    font-size: 14px;
}

.song__content_author {
    color: var(--gray-1);
}

.song__content_title {
    margin: 0 0 5px 0;
}

.song-controls__input {
    display: none;
}

.layout__content_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track-item {
    display: flex;
    align-items: center;

    width: 280px;

    margin: 10px;
    padding: 10px 15px;

    border-radius: 10px;

    cursor: pointer;
    transition: ease-in-out background-color 0.5s, ease-in-out color 0.5s;
}

.track-item:hover,
.track-item_active {
    background: linear-gradient(90deg, var(--primary-color) 0%, rgba(255, 255, 255, 0) 100%), var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

.track-item__information,
.track-item__duration {
    margin: 0 10px;
    font-size: 14px;
}

.track-item__duration {
    margin-left: auto;
}

.track-item__group:hover {
    text-decoration: underline;
}

.track-item__group {
    width: fit-content;
}

.track-item:hover .track-item__play-button {
    display: block;
}

.track-item:hover .track-item__img {
    filter: brightness(0.6);
}

.track-item__img {
    height: 60px;
    width: 60px;

    border-radius: 5px;

    background-position: center;
    background-size: cover;
}

.track-item__album {
    position: relative;
}

.track-item__play-button {
    position: absolute;
    top: 50%;
    left: 50%;

    display: none;

    transform: translate(-50%, -50%);

    content: '';

    height: 25px;

    text-align: center;
    filter: invert(1);
    z-index: 1;

    transition: ease-in-out display 0.5s;
}

.content__item {
    display: flex;
    flex-direction: column;
}

.content__item__title {
    position: relative;

    width: fit-content;

    margin: 0 20px;
    padding-bottom: 10px;

    font-size: 30px;
    font-weight: bolder;
}

.content__item__title::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: '';

    height: 5px;
    width: 80%;

    border-radius: 10px;

    background-color: var(--third-color);
}

.content__item__wrapper {
    display: flex;
    flex-wrap: wrap;

    margin: 10px 0;
}
