.profile-page {
    display: flex;
    justify-content: space-evenly;
}

.profile-content {
    display: flex;
    width: 100%;
    margin: 20px;
    padding-bottom: 100px;
    border-radius: 25px;
    background-color: white;
}

.profile-content__wrapper {
    margin: 10px 30px 0;
}

.profile-content__wrapper:first-child {
    margin-top: 30px;
}
.profile__avatar {
    align-self: start;

    height: 100px;
    width: 100px;

    border-radius: 50%;
}

.profile__item {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.form-change-password,
.form-change-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
}

.form-input__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.content-item__title_profile {
    margin: 0;
    font-size: 21px;
}

.secondary-title:after {
    background-color: var(--secondary-color);
}

.input-hidden-file__input {
    display: none;
}

.input-hidden-file__label {
    position: relative;
    display: flex;
}

.input-hidden-file__label {
    cursor: pointer;
}

.form-change-avatar {
    margin-right: 20px;
}

.form-change-avatar:hover .input-hidden-file__wrapper {
    opacity: 1;
}

.input-hidden-file__wrapper {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    border-radius: 50%;

    background: var(--primary-color-light);
    z-index: 10;

    opacity: 0;

    transition: ease-in-out opacity 0.3s;
}

.input-hidden-file__icon {
    height: 40px;
}
