<div class="header-mobile">
    <a href="/" class="header-mobile__item"><i class="fab fa-chromecast"></i></a>
    {{# if userAuth }}
        <a href="/favorite/" class="header-mobile__item"><i class="fas fa-fire-alt"></i></a>
        <a href="/playlists/" class="header-mobile__item"><i class="fas fa-layer-group"></i></a>
    {{/if}}
    <a href="/radio/" class="header-mobile__item"><i class="fas fa-podcast"></i></a>
    <a href="/search/" class="header-mobile__item"><i class="fas fa-search"></i></a>
</div>
