@import '../../pallete';

.index-page {
  position: relative;

  &__preview {
    position: relative;

    margin-bottom: 30px;
  }

  &__preview-wrapper {
    min-height: 370px;
    background-size: cover;
  }

  &__content {
    position: absolute;
    bottom: 0;

    width: fit-content;

    margin: 20px 30px;
  }

  &__title {
    margin: 10px 0 20px;

    font-family: $font-black;
    font-size: 36px;
    color: white;
  }

  &__genre {
    width: fit-content;
    height: fit-content;

    padding: 5px 10px;

    border-radius: 5px;

    font-size: 14px;
    color: $color-gray;
    background-color: var(--color-black-1);
  }

  &-top-tracks {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    width: 100%;

  }

  &-section {
    margin: 20px 30px 50px;
    flex-grow: 1;
    flex-wrap: wrap;

    &__title {
      margin-bottom: 20px;

      font-size: 20px;
      font-family: $font-medium;
      color: var(--color-white);
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;

      &_column {
        display: flex;
        flex-direction: column;
      }

      &_space-between {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        flex-wrap: wrap;
      }
    }
  }

  &__wrapper {
    display: flex;

    width: 325px;
  }

  &-sections {
    display: flex;
    justify-content: start;
  }
}

.random-track-icon {
  margin-left: 10px;
}


.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 200px;
  width: 290px;

  padding: 20px;
  margin: 10px;

  border-radius: 5px;
  background-size: cover !important;

  &-content {
    display: flex;
    align-items: center;

    transition: ease-in-out all 0.2s;

    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;

      font-size: 20px;
      color: white;

      z-index: 5;

      transition: ease-in-out all 0.2s;
      transform: translate(-50%, -50%);
    }

    &__wrapper {
      display: flex;
      align-items: center;

      &_column {
        display: flex;
        flex-direction: column;
      }
    }

    &__album {
      position: relative;

      margin-right: 10px;

      cursor: pointer;
      object-fit: cover;

      &:hover  &__icon {
        color: $color-primary;
      }
    }

    &__img {
      height: 80px;
      width: 80px;

      object-fit: cover;
      border-radius: 5px;

      filter: brightness(0.6);
    }

    &__title {
      width: 190px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      font-size: 24px;
      font-family: $font-medium;
      color: white;

      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__sub-title {
      color: white;
      font-family: $font-regular;
      font-size: 14px;

      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.share-link {
  display: flex;
  align-items: center;

  padding: 5px 10px;
  margin: 0 5px;

  border-radius: 5px;

  color: $color-gray;
  background-color: var(--color-black-2);
}

.share-link:nth-of-type(1) {
  margin-left: auto;
}

.genre-item {
  width: fit-content;

  padding: 10px 15px;
  margin: 0 10px 5px 0;

  border-radius: 5px;

  font-size: 14px;
  color: $color-gray;
  background-color: var(--color-black-1);
}

@media only screen and (min-width: 2000px) {
  .index-page__preview-wrapper {
    min-height: 500px;
  }
}

@media only screen and (max-width: 1000px) {
  .index-page-section {
    margin: 20px;
  }

  .index-page-section__article {
    justify-content: center;
  }
}
