<div class="home-page__preview">
    <div class="home-page__preview-wrapper">
        <div class="home-page__content">
            <div class="home-page__genre">Группа дня</div>
            <div class="home-page__title">IMAGINE DRAGONS</div>
            <div class="home-page__wrapper">
                <div class="button-primary">
                    Случайный трек
                    <i class="random-track-icon fas fa-play"></i>
                </div>
                <i class="share-link fas fa-calendar-plus"></i>
                <i class="share-link fas fa-share"></i>
            </div>
        </div>
    </div>
</div>

<div class="home-page-section">
    <div class="home-page-section__title">Рекомендованные альбомы</div>
    <div class="home-page-section__wrapper_space-between">
        <div class="album-item">
            <img class="album-item__album" src="../../assets/backgrounds/nirvana-nevermind-album.jpg">
            <div class="album-item__title">Nevermid</div>
            <div class="album-item__group">Nirvana</div>
        </div>
        <div class="album-item">
            <img class="album-item__album" src="../../assets/backgrounds/nirvana-nevermind-album.jpg">
            <div class="album-item__title">Nevermid</div>
            <div class="album-item__group">Nirvana</div>
        </div>
        <div class="album-item">
            <img class="album-item__album" src="../../assets/backgrounds/nirvana-nevermind-album.jpg">
            <div class="album-item__title">Nevermid</div>
            <div class="album-item__group">Nirvana</div>
        </div>
        <div class="album-item">
            <img class="album-item__album" src="../../assets/backgrounds/nirvana-nevermind-album.jpg">
            <div class="album-item__title">Nevermid</div>
            <div class="album-item__group">Nirvana</div>
        </div>
        <div class="album-item">
            <img class="album-item__album" src="../../assets/backgrounds/nirvana-nevermind-album.jpg">
            <div class="album-item__title">Nevermid</div>
            <div class="album-item__group">Nirvana</div>
        </div>
        <div class="album-item">
            <img class="album-item__album" src="../../assets/backgrounds/nirvana-nevermind-album.jpg">
            <div class="album-item__title">Nevermid</div>
            <div class="album-item__group">Nirvana</div>
        </div>
    </div>
</div>

<div class="home-page-sections">
    <div class="home-page-section">
    <div class="home-page-section__title">Популярные песни</div>
    <div class="home-page-section__wrapper_column">
        <div class="track-item">
            <div class="track-item__index">01</div>
            <i class="track-item__icon fas fa-plus"></i>
            <img class="track-item__album" src="../../assets/backgrounds/nirvana-nevermind-album.jpg">
            <div class="track-item__wrapper">
                <div class="track-item__title">Smells Like Teen Spirit</div>
                <div class="track-item__group">Nirvana</div>
            </div>
            <div class="track-item__duration">5:20</div>
        </div>
        <div class="track-item">
            <div class="track-item__index">01</div>
            <i class="track-item__icon fas fa-plus"></i>
            <img class="track-item__album" src="../../assets/backgrounds/nirvana-nevermind-album.jpg">
            <div class="track-item__wrapper">
                <div class="track-item__title">Smells Like Teen Spirit</div>
                <div class="track-item__group">Nirvana</div>
            </div>
            <div class="track-item__duration">5:20</div>
        </div>
        <div class="track-item">
            <div class="track-item__index">01</div>
            <i class="track-item__icon fas fa-plus"></i>
            <img class="track-item__album" src="../../assets/backgrounds/nirvana-nevermind-album.jpg">
            <div class="track-item__wrapper">
                <div class="track-item__title">Smells Like Teen Spirit</div>
                <div class="track-item__group">Nirvana</div>
            </div>
            <div class="track-item__duration">5:20</div>
        </div>
        <div class="track-item">
            <div class="track-item__index">01</div>
            <i class="track-item__icon fas fa-plus"></i>
            <img class="track-item__album" src="../../assets/backgrounds/nirvana-nevermind-album.jpg">
            <div class="track-item__wrapper">
                <div class="track-item__title">Smells Like Teen Spirit</div>
                <div class="track-item__group">Nirvana</div>
            </div>
            <div class="track-item__duration">5:20</div>
        </div>
    </div>
</div>
    <div class="home-page-section">
    <div class="home-page-section__title">Популярные песни</div>
    <div class="home-page-section__wrapper_column">
        <div class="track-item">
            <div class="track-item__index">01</div>
            <i class="track-item__icon fas fa-plus"></i>
            <img class="track-item__album" src="../../assets/backgrounds/nirvana-nevermind-album.jpg">
            <div class="track-item__wrapper">
                <div class="track-item__title">Smells Like Teen Spirit</div>
                <div class="track-item__group">Nirvana</div>
            </div>
            <div class="track-item__duration">5:20</div>
        </div>
        <div class="track-item">
            <div class="track-item__index">01</div>
            <i class="track-item__icon fas fa-plus"></i>
            <img class="track-item__album" src="../../assets/backgrounds/nirvana-nevermind-album.jpg">
            <div class="track-item__wrapper">
                <div class="track-item__title">Smells Like Teen Spirit</div>
                <div class="track-item__group">Nirvana</div>
            </div>
            <div class="track-item__duration">5:20</div>
        </div>
        <div class="track-item">
            <div class="track-item__index">01</div>
            <i class="track-item__icon fas fa-plus"></i>
            <img class="track-item__album" src="../../assets/backgrounds/nirvana-nevermind-album.jpg">
            <div class="track-item__wrapper">
                <div class="track-item__title">Smells Like Teen Spirit</div>
                <div class="track-item__group">Nirvana</div>
            </div>
            <div class="track-item__duration">5:20</div>
        </div>
        <div class="track-item">
            <div class="track-item__index">01</div>
            <i class="track-item__icon fas fa-plus"></i>
            <img class="track-item__album" src="../../assets/backgrounds/nirvana-nevermind-album.jpg">
            <div class="track-item__wrapper">
                <div class="track-item__title">Smells Like Teen Spirit</div>
                <div class="track-item__group">Nirvana</div>
            </div>
            <div class="track-item__duration">5:20</div>
        </div>
    </div>
</div>
</div>

<div class="home-page-section">
    <div class="home-page-section__wrapper_space-between">
        <div class="article" style="background: linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 2.75%, rgba(17, 18, 23, 0.75) 100%), url('../../assets/backgrounds/imagine_dragons.jpg')">
            <div class="home-page__genre">Исполнители</div>
            <div class="article-content">
                <img class="article-content__img" src="../../assets/backgrounds/natural-imagine-dragons.jpeg">
                <div class="article-content__wrapper_column">
                    <div class="article-content__sub-title">Новый альбом</div>
                    <div class="article-content__wrapper">
                        <i class="article-content__icon fas fa-play"></i>
                        <div class="article-content__wrapper_column">
                            <div class="article-content__title">Natural</div>
                            <div class="article-content__sub-title">14 песен, 1 час 54 минуты</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article" style="background: linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 2.75%, rgba(17, 18, 23, 0.75) 100%), url('../../assets/backgrounds/imagine_dragons.jpg')">
            <div class="home-page__genre">Исполнители</div>
            <div class="article-content">
                <img class="article-content__img" src="../../assets/backgrounds/natural-imagine-dragons.jpeg">
                <div class="article-content__wrapper_column">
                    <div class="article-content__sub-title">Новый альбом</div>
                    <div class="article-content__wrapper">
                        <i class="article-content__icon fas fa-play"></i>
                        <div class="article-content__wrapper_column">
                            <div class="article-content__title">Natural</div>
                            <div class="article-content__sub-title">14 песен, 1 час 54 минуты</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article" style="background: linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 2.75%, rgba(17, 18, 23, 0.75) 100%), url('../../assets/backgrounds/imagine_dragons.jpg')">
            <div class="home-page__genre">Исполнители</div>
            <div class="article-content">
                <img class="article-content__img" src="../../assets/backgrounds/natural-imagine-dragons.jpeg">
                <div class="article-content__wrapper_column">
                    <div class="article-content__sub-title">Новый альбом</div>
                    <div class="article-content__wrapper">
                        <i class="article-content__icon fas fa-play"></i>
                        <div class="article-content__wrapper_column">
                            <div class="article-content__title">Natural</div>
                            <div class="article-content__sub-title">14 песен, 1 час 54 минуты</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-page-section">
    <div class="home-page-section__title">Жанры</div>
    <div class="home-page-section__wrapper">
        <div class="genre-item">Альтернативный рок</div>
        <div class="genre-item">Иностранный Рок</div>
        <div class="genre-item">Русский Рок</div>
        <div class="genre-item">Поп</div>
        <div class="genre-item">Хипхоп</div>
        <div class="genre-item">Саундтреки</div>
        <div class="genre-item">Електронная</div>
        <div class="genre-item">Джаз</div>
        <div class="genre-item">Блюз</div>
        <div class="genre-item">Кантри</div>
        <div class="genre-item">Метал</div>
        <div class="genre-item">Классическая</div>
    </div>
</div>
