<div class="sidebar">
    <div class="sidebar__title">
     <i class="fas fa-compact-disc sidebar__title-icon"></i>MusicExpress</div>
    <div class="group-links">
        <div class="group-links__title">Просмотр</div>
        <a href="/" class="group-links__link group-links__link_active"><i class="fab fa-chromecast group-links__link-icon"></i>Главная</a>
        <div class="group-links__link"><i class="fas fa-compass group-links__link-icon"></i>Рекомендации</div>
        <div class="group-links__link"><i class="fas fa-layer-group group-links__link-icon"></i>Жанры</div>
        <div class="group-links__link"><i class="fas fa-podcast group-links__link-icon"></i>Радио</div>
    </div>
    <div class="group-links">
        <div class="group-links__title">Ваша медиатека</div>
        <div class="group-links__link"><i class="fas fa-history group-links__link-icon"></i>Недавно прослушано</div>
        <div class="group-links__link"><i class="fas fa-fire-alt group-links__link-icon"></i></i>Понравившееся</div>
        <div class="group-links__link"><i class="fas fa-user-friends group-links__link-icon"></i>Подписки</div>
        <div class="group-links__link"><i class="fas fa-stream fa-heart group-links__link-icon"></i>Плейлисты</div>
    </div>
</div>
