@import '../../pallete';

.page {
  position: relative;
  display: flex;

  margin-bottom: 70px;

  &__wrapper {
    position: relative;

    width: 100%;

    margin-left: 260px;
  }

  &__content {
    width: 100%;
  }
}
