<div class="layout__sidebars">
    {{{ sidebar }}}
    <div class="layout__right-sidebar">
        <div class="layout__right-sidebar-wrap">
            {{{ header }}}
            <div class="layout__content">
                <div class="layout__content_wrap">
                </div>
            </div>
        </div>
    </div>
</div>
{{{ player }}}
