<div class="turntable">
    <div class="turntable-track">
        <img class="turntable-track__album" id="player-album-js" src="">
        <div class="turntable-track__wrapper">
            <div class="turntable-track__title" id="player-title-js"></div>
            <div class="turntable-track__group" id="player-group-js"></div>
        </div>
    </div>
    <div class="turntable-controls">
        <div class="turntable-controls__wrapper">
            <i class="turntable-controls__icon fas fa-backward" id="backward"></i>
            <i class="turntable-controls__icon_play fas fa-play" id="play" data-status="off"></i>
            <i class="turntable-controls__icon fas fa-forward" id="forward"></i>
        </div>
        <div class="turntable__time-line" id="time-line-js">
            <div class="turntable__progress-bar" id="progress-bar-js"></div>
        </div>
    </div>
    <div class="turntable-sub-controls">
        <i class="turntable-sub-controls__icon fas fa-undo-alt" id="repeat-button-js"></i>
        <i class="turntable-sub-controls__icon fas fa-retweet"></i>
        <i class="turntable-sub-controls__icon fas fa-volume-up" id="volume-button-js"></i>
        <div class="turntable-sub-controls__wrapper" data-hidden="true">
            <input class="turntable-sub-controls__input" id="volume-input-js" min="0" max="100" value="100" type="range">
        </div>
    </div>
</div>
