<div class="player">
    <div class="player-track">
        <img class="player-track__album" id="player-album-js" src="">
        <div class="player-track__wrapper">
            <div class="player-track__title" id="player-title-js"></div>
            <div class="player-track__group" id="player-group-js"></div>
        </div>
        <i class="fas fa-list player__toggle-order"></i>
    </div>
    <div class="player-controls">
        <div class="player-controls__wrapper">
            <i class="player-controls__icon fas fa-backward" id="backward"></i>
            <i class="player-controls__icon_play fas fa-play" id="play" data-status="off"></i>
            <i class="player-controls__icon fas fa-forward" id="forward"></i>
        </div>
        <div class="player__time-line" id="time-line-js">
            <div class="player__progress-bar" id="progress-bar-js"></div>
        </div>
    </div>
    <div class="player-sub-controls">
        <i class="player-sub-controls__icon fas fa-undo-alt" id="repeat-button-js"></i>
        <i class="player-sub-controls__icon fas fa-volume-up" id="volume-button-js"></i>
        <div class="player-sub-controls__wrapper" data-hidden="true">
            <input class="player-sub-controls__input" id="volume-input-js" min="0" max="100" type="range">
        </div>
    </div>
</div>
