@font-face {
  font-family: Montserrat-R;
  src: url("assets/ttf/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-M;
  src: url("assets/ttf/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat-T;
  src: url("assets/ttf/Montserrat/Montserrat-Thin.ttf");
}

@font-face {
  font-family: Montserrat-B;
  src: url("assets/ttf/Montserrat/Montserrat-Black.ttf");
}
