@font-face {
  font-family: "Montserrat Regular";
  src: url("assets/ttf/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("assets/ttf/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat Black";
  src: url("assets/ttf/Montserrat/Montserrat-Black.ttf");
}
