@import 'fonts';

$font-regular: 'Montserrat Regular';
$font-medium: 'Montserrat Medium';
$font-black: 'Montserrat Black';


$color-gray: #778791;
$color-primary: #ff0052;
$color-secondary: #7ce319;
$color-error: #ff0000;
