@import 'fonts';

$font-regular: 'Montserrat Regular';
$font-medium: 'Montserrat Medium';
$font-black: 'Montserrat Black';

$color-black: #0D0E11;
$color-black-1: #121317;
$color-black-2: #1A1B1F;
$color-black-3: #212428;

$color-black-2-light: rgba(33, 36, 40, 0.4);

$color-logo: white;
$color-white: white;
$color-text: #FFFFFF;
$sidebar-text: #778791;
$color-gray-1: rgba(207, 234, 242, 0.141559);

$color-gray: #778791;
$color-primary: #ff0052;
$color-secondary: green;
$color-error: red;

$bg-linear: linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 2.75%, rgba(17, 18, 23, 0.75) 100%);
