@import 'fonts';

$font-regular: 'Montserrat Regular';
$font-medium: 'Montserrat Medium';
$font-black: 'Montserrat Black';

$color-black: #0d0e11;
$color-black-1: #121317;
$color-black-2: #1a1b1f;
$color-black-3: #212428;
$color-black-4: #15161a;

$color-black-4-light: rgba(21, 22, 26, 0.7);
$color-black-2-light: rgba(33, 36, 40, 0.4);

$color-logo: #fff;
$color-white: #fff;
$color-text: #fff;
$sidebar-text: #778791;
$color-gray-1: rgba(207, 234, 242, 0.141559);

$color-gray: #778791;
$color-primary: #ff0052;
$color-secondary: #7ce319;
$color-error: #ff0000;

$bg-linear: linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 2.75%, rgba(17, 18, 23, 0.75) 100%);
