@import '../../pallete';

.favorite-track-page {
  &__title {
    margin-bottom: 20px;
    padding: 100px 125px 20px;

    color: $color-white;
    font-family: $font-black;
    font-size: 30px;
    background: $color-black-4;
  }

  &__wrapper {
    margin: 0 125px;
  }
}

@media only screen and (max-width: 1000px)  {
  .favorite-track-page {
    &__title {
      padding: calc(60px + env(safe-area-inset-top)) 20px 20px;
    }

    &__wrapper {
      margin: 0 20px;
    }
  }
}
