<div class="track-order">
    <div class="track-order__header">
        <div class="track-order__title">Очередь треков</div>
        <i class="track-order__toggle fas fa-times"></i>
    </div>
    <div class="track-order__wrapper">
        {{{ order }}}
    </div>
</div>
